table {
font-size: 20px;
font-weight: 300;
float: right;
margin-left: 80px;
margin-top: 25px;
}
.kartu {
  width: 70%;
  margin: 0 auto;
  margin-top: 70px;
  transition: all .3s;
} 
.foto {
  float: left;
  border-radius: 50%;
}
.biodata {
margin-top: 30px;
}